*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #fff;
}

.container{
    background: #f0f2f5;
    padding-top: 72px;
    padding-bottom: 152px;
    margin-right: 15px;
}

.content{
    width: 980px;
    margin: 20px auto;
}

.content > div{
    display: inline-block;
    vertical-align: top;
}

.left-content{
    width: 576px;
    padding-right: 18px;
    box-sizing: border-box;

}

.f-logo {
    margin: 112px 0 16px;
    margin-bottom: 17px;
}

.f-logo > img {
    height: 106px;
    margin: -28px;
}

.f-quote {
    font-size: 28px;
    font-weight: 500;
    color: #1c1e21;
}


.card {
    background: #fff;
    width: 396px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    padding: 10px 16px;
    padding-left: 16px;
    padding-top: 11px;
    box-sizing: border-box;
    margin-top: 40px;
}

.input-container > input[type=text],
.input-container > input[type=password] {
    width: 100%;
    padding: 15px 16px;
    padding-left: 16px;
    margin-top: 8px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #dddfe2;
    background: #ffffff;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 17px;
    margin-bottom: 7px;
    padding-bottom: 15px;
}

.input-container > input[type=text]:focus,
.input-container > input[type=password]:focus {
    border: 1px solid #1877f2;
    border-color: #0866ff;
    box-shadow: 0 0 0 2px #e7f3ff;
    color: #0866ff;
}

.input-container input::placeholder {
    color: #8a8d91; 
    font-size: 17px;
}

.input-container input:focus::placeholder {
    color: #b0b3b8;
}

.login-btn{
    background: #0866ff;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-sizing: border-box;
    padding: 14px 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 13px;
    margin: 10px 0;
    margin-top: 9px;
    cursor: pointer;
}

.forgotten-password{
    text-align: center;
}

.forgotten-password > a {
    font-size: 14px;
    color: #0866ff;
    display: inline-block;
    margin: 20px 0;
    padding-top: 4px;
    padding-bottom: 15px;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 7px;
}

.forgotten-password > a:hover {
    text-decoration: underline;
}

.forgotten-password {
    text-align: center;
    border-bottom: 1px solid #dddfe2;
    margin-bottom: 26px;
}

.crt-new-ac {
    display: inline-block;
    background: #42b72a;
    border-radius: 6px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: 600;
    font-size: 17px;
    padding-right: -1px;
}

.crt-new-ac:hover {
  background-color: #36a420;
  border-color: #36a420;
}

.crt-page {
    color: #1c1e21;
    text-align: center;
    padding: 20px 0;
    padding-left: 5px;
    padding-top: 30px;
    margin-right: 8px;
    padding-top: -15px;
}

.crt-page > a {
    text-decoration: none;
    font-weight: bold;
    color: #1c1e21;
    padding-top: -3px;
}

.crt-page > a:hover {
    text-decoration: underline;
}

.footer {
    max-width: 1000px;
    margin: 30px auto;
    font-size: 12px;
    color: #737373;
    margin-top: 26px;
    padding-right: 7px;
    padding-left: 10px;
}

.footer-languages ul {
    list-style: none;
    padding: 0;
    margin: 8px 0;
    word-spacing: -5px;
    padding-left: -2px;
    padding-bottom: 3px;
    padding-top: 3px;
    
}

.footer-languages ul li {
    display: inline-block;
    margin-right: 11px;  
}

.footer-languages ul li a {
    text-decoration: none;
    color: #8a8d91;
}

.footer-languages ul li a:hover {
    text-decoration: underline;
}

.add-lang-btn {
    display: inline-block;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 18px;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    font-size: 22px;
    cursor: pointer;
    line-height: 1;
    background-color: #f5f6f7;
    background-image: url(/rsrc.php/v4/yB/r/sQkNqpqx9ne.png);
    background-size: auto;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #4b4f56;
    vertical-align: middle;
}

.add-lang-btn:hover {
    background: #ffffff;
}
   

.footer-divider {
    border-top: 1px solid #dddfe2;
    margin: 5px 0;
    width: 100%;
    margin-top: -4px;
    padding: 0 !important;
    position: relative;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 8px 0;
    line-height: 1.6;
    margin-bottom: 20px;
    word-spacing: 0.5px;
    letter-spacing: 7%;
    box-sizing: border-box;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #8a8d91;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.meta-copy {
    margin-top: 20px;
    font-size: 11px;
    color: #737373;
}

.adchoices img {
    background-image: url(/rsrc.php/v4/yB/r/sQkNqpqx9ne.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.adchoices {
    padding-right: 16px;
    background: url("./assets/adchoices.png") no-repeat right center;
    background-size: 12px 12px;
}

.adchoices-link {
    text-decoration: none; 
    color: inherit; 
    outline: none; 
}

.adchoices-link:hover,
.adchoices-link:focus,
.adchoices-link:active {
    text-decoration: none; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  background: rgba(0, 0, 0, 0.4); 
  display: none;
  z-index: 999;
}

.lang-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 900px;
  background: #fff;
  display: none;
  z-index: 1000;
  border-bottom: 1px dotted #ccd0d5;
}

.lang-header {
  background: #6b83b5;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.lang-body {
  padding: 12px;
  column-count: 3;
  column-gap: 20px;
}

.lang-body p {
  margin: 6px 0;
  font-size: 12px;
  color: #385898;
  cursor: pointer;
  break-inside: avoid;
}

.lang-body p:hover {
  text-decoration: underline;
}

.lang-footer {
  padding: 8px 12px;
  background: #f5f6f7;
  text-align: right;
  border-top: 1px solid #dddfe2;
}

.lang-footer button {
  background: #4267b2;
  color: #fff;
  border: none;
  padding: 6px 14px;
  font-size: 12px;
  cursor: pointer;
}

.lang-footer button:hover {
  background: #365899;
}

.suggested-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 300px;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.suggested-title {
  font-size: 12px;
  color: #90949c;
  margin-right: 8px;
  white-space: nowrap;
}

/* All languages */
.suggested-lang .lang {
  font-size: 15px;
  color: #385898;
  cursor: pointer;
  white-space: nowrap;
}

/* Main columns wrapper */
.lang-columns {
  display: flex;
  gap: 32px;
}

/* All columns */
.lang-column {
  min-width: 150px;
}

/* SECOND COLUMN ONLY */
.lang-columns .lang-column:nth-child(2) .lang-item {
  font-size: 12px;
  color: #385898;
  margin: 6px 0;
  cursor: pointer;
}

.lang-columns .lang-column:nth-child(2) .lang-item:hover {
  text-decoration: underline;
}


.suggested-lang .lang:hover {
  text-decoration: underline;
}

/* English (UK) special style */
.suggested-lang .active {
  color: #333333;
  font-weight: 700;
  cursor: default;
  text-decoration: none;
}

.suggested-divider {
  border-top: 1px dashed #CCD0D5;
  margin: 10px 0;
}

.language-popup {
  font-family: Arial, Helvetica, sans-serif;
}

.language-grid {
  display: grid;
  grid-template-columns: 180px repeat(4, 1fr); 
}

.lang-column {
  display: flex;
  flex-direction: column;
  gap: 2px; 
}

.lang-item {
  color: #385898;
  font-size: 12px;
  cursor: pointer;
}

.lang-item:hover {
  text-decoration: underline;
}

.language-sections {
  padding: 10px 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.second-column .lang-item {
  color: #385898;     
  font-size: 12px;     
  cursor: pointer;    
  margin: 4px 0;       
}

.second-column .lang-item:hover {
  text-decoration: underline; 
}

.lang-popup .lang-columns {
  display: flex;         
  gap: 40px;            
}

.lang-column {
  width: 100%;
}

/* Heading – All languages */
.lang-heading {
  font-size: 12px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid #333333; 
  width: fit-content;
}

.lang-item {
  font-size: 12px;
  color: #90949c;
  margin: 6px 0;
  cursor: pointer;
}

.lang-item:hover {
  text-decoration: underline;
}

.language-popup {
  padding: 16px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;                
  overflow-y: auto; 
}

.language-grid {
  display: grid;
}

.lang-column {
  display: flex;
  flex-direction: column;
  gap: 4px; 
}


.first-column .lang-item {
  color: #333333; 
  font-size: 12px;
}

/* 2nd, 3rd, 4th, 5th columns */
.lang-column:not(.first-column) .lang-item {
  color: #385898;
  font-size: 12px;
  cursor: pointer;
}

.lang-column:not(.first-column) .lang-item:hover {
  text-decoration: underline;
}

/* ===== FIRST COLUMN : ALL LANGUAGES HEADER ===== */
.first-column .lang-item:first-child {
  color: #333333;
  font-weight: 700;
  text-decoration: underline;
  cursor: default;
}

/* ===== FIRST COLUMN : REGIONS BELOW ===== */
.first-column .lang-item:not(:first-child) {
  color: #90949C;
  font-size: 12px;
  cursor: pointer;
}

.first-column .lang-item:not(:first-child):hover {
  text-decoration: underline;
}

.lang-column:not(.first-column) .lang-item:hover {
  text-decoration: underline;
}

@media (max-width: 520px) {
  .container {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f0f2f5;
    margin-top: -120px;
  }

  .content {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content > div {
    width: 100%;
  }

  .f-logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .f-logo img {
    height: 100px;
    margin: 0 auto; 
    margin-left: -3px;
  }

  .f-quote {
    font-size: 25px;
    font-weight: 400;
    color: #1c1e21;
    text-align: center;
    margin-bottom: 20px;
    line-height: 24px;
    margin-top: -10px;
    margin-left: 10px;
  }

  .card {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 70px;
  }

.crt-page{
    color: #1c1e21;
    text-align: center;
    padding: 20px 0;
    padding-left: 5px;
    margin-right: 8px;
    margin-top: -60px;
    margin-bottom: 90px;
}

.crt-page > a {
    text-decoration: none;
    font-weight: bold;
    color: #1c1e21;
}

.crt-page > a:hover {
    text-decoration: underline;
}

.add-lang-btn {
    display: inline-block;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 18px;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    font-size: 22px;
    cursor: pointer;
    line-height: 1;
    background-color: #f5f6f7;
    padding-top: 1px;
    background-image: url(/rsrc.php/v4/yB/r/sQkNqpqx9ne.png);
    background-size: auto;
    background-repeat: no-repeat;
}

.add-lang-btn:hover {
  background: #f0f2f5;
}

@media (max-width: 520px) {
  .footer {
    font-size: 12px;
    width: 80%;
  }

  .footer-lang,
  .footer-links {
    justify-content: center;
    gap: 6px;
  }

  .footer a {
    margin-right: 0;
  }

  .footer-copy {
    margin-top: 8px;
    text-align: center;
  }
}

}

@media (max-width: 520px) {

  .lang-popup {
  width: 90%;
  max-width: 600px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}


  .language-grid {
    grid-template-columns: 1fr;
  }

  .lang-column {
    width: 100%;
  }

  .suggested-lang {
    flex-wrap: wrap;
    gap: 6px;
    margin-right: 0;
  }
}