*{
    margin:0;
    padding:0;
}

body{
    background: #f2f4f7;
    min-width: 500px;
    font-family: 'Roboto',sans-serif;
}

.container {
    position:absolute;
    top:22%;
    left:17%;
    bottom: auto;
    margin:40px 0px 0px;
    padding:10px 0px 24px;
    align-items: center;

}

.container h1{
    color: #0866ff; 
    display: block; 
    font-size: 60px;
    font-family: 'facebook sans','klavika',sans-serif;
    font-weight: 700;

}

.container p{
    color:#1c1e21;
    display: flex;
    font-size: 28px;
    padding-top: 10px;
    font-weight: 400;
}

header{
    width: 396px;
    height: 350px;
    display: flex;
    position: absolute;
    top: 16%;
    left: 56%;
    background-color: #fff;
    box-shadow: 0 2px 4px #0000001a,0 8px 16px #0000001a;
    margin: 40px 0 0;
    box-sizing: border-box;
    margin-top:  28px;
    display: block;
    margin-bottom: 16px;
    padding: 20px 0px 28px;
    border-radius: 8px;
    padding-bottom: 24px;
    padding-top: 5px;
}

.box input{ 
    width:86%;
    height: 22px;
    text-align: left;
    margin:14px 10px 10px 25px;
    margin-top: 8px;
    margin-bottom: 6px;
    padding:16px 19px;
    padding-left:4px;
    padding-top:10px;
    padding-bottom:24px;
    font-size:17px;
    border-radius:6px;
    outline:none;
    margin-left: 16px;
    border: 1px solid #dddfe2;
}

.box input a {
    outline:none;
    background-color:#fff;
    border-color:none;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a,0 8px 16px #0000001a;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.box input:focus{
    border:1px solid #1877f2;
    box-shadow:0 0 4px #1877f2;
    outline-color:none;
}

#email:focus{
    border:1px solid #1877f2;
    box-shadow:0 0 5px #1877f2;
    outline-color:none;

}

.link{
    text-align:center;
    background-color:#0866ff;
    margin:20px 16px;
    margin-bottom:14px;
    margin-left:18px;
    padding: 20px;
    padding-top:16px;
    border-radius:6px;
    font-weight:bold;  
    border: none;
    border-radius: 6px;
    font-size: 20px;


}

.link a{
    color: #fff;
    text-decoration:none;
    font-size:20px;
    vertical-align: bottom;
}

.link1 {
    text-align:center;
    margin:6px 0 14px 0;
    margin:20px 16px;
    margin-bottom:20px;
    border-bottom:1px solid #DADDE1;
    padding-bottom: 16px;
    font-weight: 500;
    align-items: center; 
    font-display: auto;
}

.link1 a{
    color:#0866ff;
    text-decoration:none;
    font-size:15px;
    font-family:helvetica,Arial,sans-serif;  

}

.link1 a:hover{
    text-decoration:underline;
}

.link2 {
width:50%;
    margin:40px auto 0 auto;
    margin-top:26px;
    text-align:center;
    background-color: #42b72a;
    padding:14px 0;
    padding-top: 6px;
    border-radius:6px;
    font-family: Arial,sans-serif; 
    border: none;
    border-radius: 6px;
    font-size: 16px;
    line-height: 48px;
    padding: 0 16px;
    display: block;

}

.link2 a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:15px;
}

.footer-text{
    position:absolute;
    top:500px;
    left:58%;
    width:380px;
    text-align:center;  
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 0;
}

.footer-text a{
    text-decoration:none;
    font-weight:bold;
}

.footer-text a:hover{
    text-decoration:underline;
}