* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f2f5;
  font-family: "Helvetica", sans-serif;
  line-height: 1.34;

}

a {
  text-decoration: none;
}

.container .left img {
  width: 317px;
  margin: -28px;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  max-width: 1060px;
  margin-inline: auto;
  gap: 50px;
}

.container .left {
  margin-top: -120px;
}

p {
  font-weight: normal;
  margin-top: 10px;
  font-size: 28px;
}

.container .right {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  line-height: 10px;
}

.form-container {
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 396px;
  margin-bottom: 30px;
  margin-top: 10px;
}

form input {
  padding: 17px;
  border-radius: 6px;
  font-size: 17px;
  border: 1px solid #dddfe2;
  font-family: "Helvetica", sans-serif;
}

form input:focus::placeholder {
  color: #a9a9a9;
}

form input:focus {      
    border-color: #0866ff;
    box-shadow: 0 0 0 2px #e7f3ff;
    outline: none;
}       

form a {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #0866ff;
  padding-bottom: 20px;
  margin-top: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dddfe2;
}

form a:hover {
  text-decoration: underline;
}

.btn {
  background: #1877f2;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.btn.green {
  font-size: 17px;
  background: #42b72a;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -10px;
  padding-bottom: 10px;
  transition: all 300ms ease;
}

.btn.green:hover {
  background: #3ca727;
}

.right p {
  font-size: 14px;
}

.right p a {
  color: #000;
}

.right p a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

p {
    font-size: 24px;
    width: 400px;
    line-height: 1.2;
  }

  .container .left {
    margin-top: 40px;
  }
}